// Global annotations
////
/// @group widgets
/// @access private
////

.bb-portfolio-trading__progress-bar {
  width: 100%;
  height: 6px;
  background: $portfolio-trading-progress-bar-background-color;
  border-radius: 1.25rem;
}

.bb-portfolio-trading__progress-bar-fill {
  background: $color-info;
  border-radius: 1.25rem;
  width: 6px;
  height: 6px;
  transition: margin 700ms;
}
