.cm-direct-insights {
  --chart-color-1: #{$chart-color-1};
  --chart-color-2: #{$chart-color-2};
  --chart-color-2-darkest: #{$chart-color-2-darkest};
  --chart-color-3: #{$chart-color-3};
  --chart-color-4: #{$chart-color-4};
  --chart-color-4-darkest: #{$chart-color-4-darkest};
  --chart-color-6: #{$chart-color-6};
  --border-color: #{$border-color};
  --border-radius: #{$border-radius};
  --body-color: #{$body-color};
  --color-neutral-grey: #{$color-neutral-grey};
  --font-size-highlight: #{$font-size-highlight};
}
