// Global annotations
////
/// @group ui-components
/// @access private
////

$bb-char-counter-color: $color-neutral-dark !default;
$bb-char-counter-invalid-color: $color-danger !default;

.bb-char-counter {
  display: block;
  margin-block-start: $spacer-sm;
  color: $bb-char-counter-color;
}

.bb-char-counter--invalid {
  color: $bb-char-counter-invalid-color;
}
