<nav>
  <ul class="bb-layout__vertical-nav">
    <li class="bb-layout__vertical-nav-section">
      <div class="bb-layout__vertical-nav-header">
        <bb-header-ui
          class="bb-inline-stack__item"
          heading="Accounts & Cards"
          i18n-heading="@@layout.nav.header.accounts"
          headingClasses="bb-layout__vertical-nav-header-title"
          headingType="h3"
        ></bb-header-ui>
      </div>
      <ul class="bb-layout__vertical-nav">
        <li class="bb-layout__vertical-nav-item">
          <a
            #accountsRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/accounts"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="accountsRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="accounts"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.accounts">Accounts</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #cardsRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/cards"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="cardsRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="credit-card"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.cards">Cards</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #loansRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/loans"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="loansRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="loans"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.loans">Loans</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #accountStatementsRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/account-statements"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="accountStatementsRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="description"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.account-statements"
              >Account Statements</span
            >
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #transactionsRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/transactions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="transactionsRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="transactions"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.transactions">Transactions</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="bb-layout__vertical-nav-separator" role="separator"></li>
    <li class="bb-layout__vertical-nav-section">
      <div class="bb-layout__vertical-nav-header">
        <bb-header-ui
          class="bb-inline-stack__item text-uppercase"
          heading="Move Money"
          i18n-heading="@@layout.nav.header.move"
          headingClasses="bb-layout__vertical-nav-header-title"
          headingType="h3"
        ></bb-header-ui>
      </div>
      <ul class="bb-layout__vertical-nav">
        <li class="bb-layout__vertical-nav-item">
          <a
            #transfersRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/transfers"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="transfersRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="payments"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@transfers.nav.item.title">Transfers</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #batchesRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/batches"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="batchesRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="batches"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.batches">Batches</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #stopCheckRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/stop-check-payments"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="stopCheckRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="cancel-presentation"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.stop-check"
              >Stop check payments</span
            >
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #templatesRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/templates"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="templatesRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="file-copy"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.templates">Templates</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #contactsRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/contacts"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="contactsRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="contacts"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.contacts">Contacts</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="bb-layout__vertical-nav-separator" role="separator"></li>
    <li class="bb-layout__vertical-nav-section">
      <div class="bb-layout__vertical-nav-header">
        <bb-header-ui
          class="bb-inline-stack__item text-uppercase"
          heading="Finance Management"
          i18n-heading="@@layout.nav.header.finance"
          headingClasses="bb-layout__vertical-nav-header-title"
          headingType="h3"
        ></bb-header-ui>
      </div>
      <ul class="bb-layout__vertical-nav">
        <li class="bb-layout__vertical-nav-item">
          <a
            #cashFlowRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/cash-flow"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="cashFlowRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="currency-trade"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.cash-flow">Cash Flow</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #sweepingRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/sweeping"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="sweepingRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="vertical-align-center"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.sweeping">Sweeping</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #forexRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/forex"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="forexRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="monetization-on"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@forex.nav.item.title">Forex</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #tradeFinanceRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/trade-finance"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="tradeFinanceRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="dashboard"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.trade-finance">Trade Finance</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="bb-layout__vertical-nav-separator" role="separator"></li>
    <li class="bb-layout__vertical-nav-section">
      <div class="bb-layout__vertical-nav-header">
        <bb-header-ui
          class="bb-inline-stack__item text-uppercase"
          heading="Personal"
          i18n-heading="@@layout.nav.header.personal"
          headingClasses="bb-layout__vertical-nav-header-title"
          headingType="h3"
        ></bb-header-ui>
      </div>
      <ul class="bb-layout__vertical-nav">
        <li class="bb-layout__vertical-nav-item">
          <a
            #messagesRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/messages"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="messagesRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="mail"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.messages">Messages</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #myProfileRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/my-profile"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="myProfileRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="user"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.my-profile">My profile</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #placesRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/find-atm-branch"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="placesRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="location-on"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.find-atm-branch"
              >Find ATM or Branch</span
            >
          </a>
        </li>
      </ul>
    </li>

    <li class="bb-layout__vertical-nav-separator" role="separator"></li>
    <li class="bb-layout__vertical-nav-section">
      <div class="bb-layout__vertical-nav-header">
        <bb-header-ui
          class="bb-inline-stack__item text-uppercase"
          heading="Company Administration"
          i18n-heading="@@layout.nav.header.company"
          headingClasses="bb-layout__vertical-nav-header-title"
          headingType="h3"
        ></bb-header-ui>
      </div>
      <ul class="bb-layout__vertical-nav">
        <li class="bb-layout__vertical-nav-item">
          <a
            #auditPayRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/audit"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="auditPayRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="audit"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.audit">Audit</span>
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #companyPermissionsPayRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/company-permissions"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="companyPermissionsPayRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="users"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.company-permissions"
              >Company Permissions</span
            >
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #serviceAgreementsPayRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/service-agreements"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="serviceAgreementsPayRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="ballot"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.service-agreements"
              >Service Agreements</span
            >
          </a>
        </li>
        <li class="bb-layout__vertical-nav-item">
          <a
            #legalEntitiesPayRouterLink="routerLinkActive"
            class="bb-layout__vertical-nav-item-link"
            routerLink="/legal-entities"
            routerLinkActive="bb-layout__vertical-nav-item-link--active"
            [attr.aria-current]="legalEntitiesPayRouterLink.isActive ? 'page' : undefined"
          >
            <bb-icon-ui class="bb-layout__vertical-nav-item-icon" name="domain"></bb-icon-ui>
            <span class="bb-layout__vertical-nav-item-title" i18n="@@nav.item.title.legal-entities"
              >Legal Entities</span
            >
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
