// Global annotations
////
/// @group data
/// @access private
////

/**
 * --------------------------------------------------------------------------
 * Line chart component
 * --------------------------------------------------------------------------
 * @description
 *
 * Some styles are read inside code that generates canvas.
 * Examples for that kind of styles cannot be provided.
 */

@at-root {
  @include generate-chart-color-classes($chart-colors);

  .chart-line {
    /*
    * Chart Card line styles
    * using line chart in card view
    */
    &-card-positive-color {
      color: lighten($color-primary, 30%);
    }

    &-card-positive-background {
      background-color: lighten($color-primary, 50%);
    }

    &-card-y-axis-zero-color {
      color: lighten($color-primary, 10%);
    }

    &-card-y-axes-grid-color {
      color: $color-neutral-white;
    }
  }
}
