// Global annotations
////
/// @group widgets
/// @access private
////

.bb-fx-rates-pair-detail-container {
  min-height: 500px;
}
.bb-fx-rates-pair-detail-wrapper {
  max-width: 840px;
  margin: 0 auto;
}
