<div class="bb-layout__topbar bb-layout__topbar--sm" role="banner">
  <!-- Skip to content -->
  <button
    i18n-aria-label="
      Move focus to beginning of content|Value for aria-label saying that this button will move the focus to the
      beginning of the content
    "
    aria-label="skip to content"
    class="bb-layout__skip-to-content"
    (click)="$any($event).view?.window?.document?.querySelector('[role=\'main\']')?.focus()"
    i18n="
      Skip to content|Text to enforce the user to click to put focus on the main content
      section@@bb-layout.topbar.skip_to_content.button"
  >
    Skip to Content
  </button>

  <!-- Hamburger -->
  <button
    aria-label="Toggle sidebar"
    i18n-aria-label="Sidebar Toggler|Button for toggling sidebar state@@bb-layout.sidebar_toggler"
    class="bb-layout__nav-expand-marker"
    [attr.aria-expanded]="layoutService.navigationExpanded$ | async"
    (click)="layoutService.toggleNav()"
  >
    <span class="bb-icon"></span>
  </button>

  <!-- Logo -->
  <div class="bb-layout__branding-area">
    <bb-logo-ui type="full"></bb-logo-ui>
  </div>

  <!-- Right Topbar Area -->
  <div class="bb-layout__topbar-content-area">
    <div>
      <!-- Notifications Badge -->
    </div>
    <div>
      <bb-user-context-menu-widget
        [closeModalOnSelectSuccess]="false"
        [hasCardWrap]="false"
        [includeCurrentContext]="true"
        [pageSize]="7"
        [showModalAfter]="8"
        [showSearchAfter]="7"
        [showSingleContext]="false"
        (logout)="userContextService.logout()"
        (selectContextSuccess)="userContextService.reload()"
      ></bb-user-context-menu-widget>
    </div>
  </div>
</div>
